@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

body {
    background-color: #f4f5f5;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    color: #121523;
    position: relative;
}

.head {
    background-color: #fea73a;
    min-height: 250px;
}

.content-wrapper {
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
}

.content-wrapper .icon-container .material-icons {
    color: #fff;
    font-size: 50px;
    margin-bottom: 40px;
}

.content-wrapper .card {
    background-color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 40px;
}

.content-wrapper .card .title {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content-wrapper .card .text {
    text-align: left;
    margin-bottom: 60px;
}

.content-wrapper .card .confirm-button {
    margin-bottom: 70px;
}

.content-wrapper .card .confirm-button .button {
    text-decoration: none;
    background-color: #fea73a;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
}

.content-wrapper .help-container {
    background-color: #ffecd1;
    max-width: 600px;
    padding: 25px;
    margin: 0 auto;
}

.content-wrapper .footer {
    max-width: 600px;
    padding: 25px;
    margin: 0 auto;
}
